body {
    background-color: #282c35; /* Dark background color */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clock {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, #3498db, #2c3e50); /* Gradient from a nice blue to dark gray */
    color: #ecf0f1; /* Light text color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
#date, #time {
font-size: 18px;
margin: 5px 0;
color: #ecf0f1; /* Light text color */
}
  
  #time {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif; /* Stylish font for the time */
  }
  
  /* Adding a subtle hover effect for a bit of interactivity */
  .clock:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  